{% extends 'core/base.html' %}
{% block title %} Add Blog {% endblock title %}
{% block blogactive%} active {% endblock blogactive %}
{% block content %}
<h3 class="mt-4">Add Blog Post</h3>
<div class="container-fluid comment" style="margin-left: 3%;">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-sx-4">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Post </button>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}