{% extends 'base.html' %}
{% block title %} {{blog.blog_title}} {% endblock title %}
{% block blogactive%} active {% endblock blogactive %}
{% load social_share %}
{% block body %}
<style>
    .topnav {
        overflow: hidden;
    }

    .topnav a {
        float: left;
        color: #000000;
        border-radius: 5px;
        text-align: left;
        padding: 0px 10px;
        margin-right: 30px;
        font-weight: 700;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        font-weight: 700;
        color: black;
    }

    .trending img {
        width: 100%;
        border-radius: 10px;
        margin-left: 7%;
        margin-top: 3%;

    }

    .trending p {
        font-weight: 900;
        font-size: 15px;
        margin-left: 7%;
        margin-top: 3%;
    }

    .trending h3 {
        margin-top: -30px;
        text-decoration: none;
        text-align: justify;
        margin-left: 7%;
        color: lightseagreen;

    }

    .trending h3:hover {
        color: lightseagreen;

    }

    .trending .badge {
        margin-left: 6%;
        color: gray;
        font-weight: 400;
    }

    .card2 {
        border-radius: 10px;
        margin-left: 20%;
        margin-top: 2%;
    }

    .card2:hover {
        box-shadow: 0px 0px 15px rgb(170, 170, 170);
        background-color: white;
    }

    .card2 .img-thumbnail {
        max-width: 100px;
        max-height: 80px;
    }

    .card1 .img {
        max-width: 100%;
        max-height: 100%;
    }

  /*Comments*/
  
  .comment p{
    font-size: 18px;
    text-decoration: none;
  }
  /*Comments Ends*/

</style>

<nav class="navbar navbar-expand-sm" style="margin-top: -50px; width: auto; max-height: 60px;">
    <!--div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div-->

    <div class="topnav">
        <!--a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Categories
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Category-1</a>
        <a class="dropdown-item" href="#">Category-2</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Category-3</a>
      </div-->
        <a><span class="badge mt-2" style="font-size: 20px; text-decoration: none;"><u>Blog</u></span></a>
        <a class="border mt-2" href="#">For Sellers</a>
        <a class="border mt-2" href="#">For Buyers</a>
        <a class="border mt-2" href="#">Video Blogs of BBM</a>

    </div>

</nav>
<div class="container-fluid">
    <div class="row">
        <div class=" trending col-md-6 col-lg-6 col-sm-6 col-xs-6">
            {% if data.header_image %}
                <img src="{{ data.header_image.url}}">
            {% endif %}
            <p>{{data.name}}</p><br>
            
                <h3 class=" text-uppercase mb-0">{{data.blog_title}}</h3>
            
            <b class="badge">by {{data.author}}</b>
            <p style="text-align:justify; font-weight: 500; font-size: 18px;">{{data.blog | safe}}</p>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-6">
            <div class="card2 border mb-5">

                <div class="card-body">
                    <div class="row">
                        <img src="/static/img/sell.svg" style="width: auto;" class="img-thumbnail col-md-3 " alt="...">
                        <a href="#">
                            <h4 class="col-md-9">HOW TO SELL<br>
                        </a>
                        <small style="font-size: 20px;">Full guide for First time Seller</small>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="card2 border mt-5 mb-4 ">
                <div class="card-body">
                    <div class="row ">
                        <img src="/static/img/buy.svg" style="width: auto; background-color: lightyellow;"
                            class="img-thumbnail col-md-3 border-warning " alt="...">
                        <a href="#">
                            <h4 class="col-md-9">HOW TO BUY<br>
                        </a>
                        <small class="text-info" style="font-size: 20px;">Full guide for First time Seller</small>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="card2 border mt-5">
                <div class="card-body">
                    <div class="row ">
                        <img src="/static/img/settings.svg" style="width: auto;" class="img-thumbnail col-md-3"
                            alt="...">
                        <a href="">
                            <h4 class="col-md-9">HOW IT WORKS<br>
                        </a>
                        <small class="text-info" style="font-size: 17px;">Sell digital assets & Online Business</small>
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


 
<hr> 
<div class="container-fluid comment" style="margin-left: 3%;">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-sx-4">
            <form method="post">
                {%csrf_token %}
                <h5> Comment Here</h5>
                
                <p class="mt-1">Your name:</p><input class="form-control" type="text" name="your_name" placeholder="Enter your Name" maxlength="20"  required id="id_your_name">
            <p class="mt-3">Comment:</p><textarea class="form-control" name="comment_text" cols="40" rows="5" required id="id_comment_text">
            </textarea><br>
                <input type ="submit" value="Comment">
            </form>
            <hr>
            <h3>User Comments</h3> 
            {%for comment in comments%}
            <div class="card mt-3" style="background-color: rgba(196, 196, 196, 0.13);">
              <p><span style="padding-left: 20px; color: teal; font-weight: 600;">{{comment.your_name}}:</span> {{comment.comment_text}}</p>
            </div>
            
            
            
            {%endfor %}

        </div>
    </div>
</div>

{% endblock body %}