{% extends 'core/base.html' %}
{% block title %} Changes Password {% endblock title %}
{% block content %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container mb-4">
    
		<div class="row mt-2">
			<h3>Change Password</h3>
			<form method="POST">
				{% csrf_token %}
            <div class="mb-3 col-md-6">
				<input type="password" class="form-control" id="id_old_password" name="old_password" placeholder="Enter Old Password" required>
				<span class="text-danger badge">{{form.old_password.errors}}</span>
			  </div>

			  <div class="mb-3 col-md-6">
				
				<input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="New Password" required>
				
				<span class="text-danger badge">{{form.new_password1.errors}}</span>
			  </div>

			  <div class="mb-3 col-md-6">
				
				<input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Re-Enter Password" required>
				
				<span class="text-danger badge">{{form.new_password2.errors}}</span>
			  </div>
		</div>
			<button type="submit"class="btn ml-3 btn-info">Change</button>

				
			</form>

		</div>
		
{% endblock %}
