{% extends 'base.html' %}
{% block title %}Contact {% endblock title %}
{% block contactactive%} active {% endblock contactactive %}
{% load static %}

{% block body %}
<h3>Contact us</h3>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6">
      <h3>Let's get in touch</h3>
      <form method="post" action="/contact">
        {% csrf_token %}
          <div class="row">
              <div class="col-md-6">
            <input type="text" class="form-control mt-3" id="id_name" name="name" placeholder="Your name..">
                </div>
            <div class="col-md-6">
            <input type="email" class="form-control mt-3" id="email" name="email" placeholder="Email@gmail.com">
                </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea id="id_subject" name="subject" class="form-control mt-3" placeholder="Write something.." style="height:150px"></textarea>
                
        <button class="btn btn-info btn-md mb-5 mt-3 ml-1" style="color:white" type="submit"> Submit</button>
      </div>
          </div>
        </form>  
        </div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<img src="{% static 'img/contact.svg' %}" style="width:75%; margin-top: -50px;" alt="Contact Image">
		</div>
	</div>
</div>
<!--div id="contact-content">

  
  
<form action="/contact" >
    <div class="row">
      <div class="col-25">
        <label for="fname"></label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname"></label>
      </div>
      <div class="col-75">
      <input type="text" id="fname" name="firstname" placeholder="email@gmail.com">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject"></label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:150px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div-->
<!--div class="col-md-6 col-sm-5 col-xs-6 col-lg-6">

</div>
    {% comment %} <div class="svgs-img" width="100%" alt="contact-img">
<img src="static/img/signup.svg" id="svgs-img" >
</div>
  </form> {% endcomment %}
</div>

</div-->
{% endblock body %}