{% extends 'core/base.html' %}
{% load static %}
{% block title %}Buy and sell website{% endblock title %}
{% block homeactive%} active {% endblock homeactive %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="margin-top: -30px;">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-4 pt-0 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"  style="margin-top: 5%;">
          <h1>#1 marketplace to buy and sell online businesses</h1>
          <h2>Buy an online business, become an acquisition entrepreneur, and invest in digital real estate.</h2>
          <form method="POST" action="{% url 'search-p' %}">
          <div class="input-group mb-3">
              {% csrf_token %}
<input type="search" class="form-control" name="searched" placeholder="Find Websites, Domains and more...">
<!--input type="search" class="form-control" name="searched" placeholder="Find Websites, Domains, blog and more..."-->
<button class="input-group-text" type="submit"> Search</button></form>
</div>
          <div><a href="websites.html" class="btn-get-started scrollto">Buy</a> <a href="{% url 'dashboard' %}" class="btn-get-started scrollto">Sell</a></div>
        </div>
        <div class="col-xl-6 col-lg-3 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="{% static 'img/landing page_1.svg' %}" style="width: 100%;" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  
  </section><!-- End Hero -->
  
  <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Browse top Online Businesses</h2>
            <p>These are all revenue generating websites, ecommerce stores and other online businesses</p>
          </div>
  
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Website</li>
                <li data-filter=".filter-web">ecommerce</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-software">Software</li>
                <li data-filter=".filter-youtube">Youtube Channel</li>
              </ul>
            </div>
          </div>
          <div class="row gy-4">
          {% for product in products %}
          
            
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="card icon-box" id="card">
               <img src="{% static 'img/template5.jpg'%}" class="card-img-top" alt="...">
                 <div class="card-body">
                  <span class="best-seller text-center text-uppercase">{{ product.status }}</span>
                  <span class="featured">{{ product.created_at }}</span>
                 <div>
              <h6 class="card-title"><a href="{% url 'product_detail' product.id %}" style="margin-left: 5px;">{{ product.company_url }}</a></h6>
               <h6 class="card-title">{{ product.short_description }}</h6>
                 <div class="price-big">
                  <span> ₹4,300</span>  ₹3,800
               </div>
             <div class="bid">49 Bids</div><br><br>
             <div class="row">
               <div class="col-md-6">
                <div class="card" style="border-radius: 50px; border-color: #D5E0F2; background-color:#E9EEF8"> <h6 class="pt-2 pl-4 pb-2">Monetization
                  <small style="font-size: 60%;"><br><i class="fa fa-check"></i> Adsense, <br><i class="fa fa-check"></i> YouTube Monetization</small></h6>
                
                </div> 
                </div>
                <div class="col-md-4">
                  <div class="card" style="border-radius: 50px; border-color: #FDCD9D; background-color:#FEF2F1"> <h6 class="pt-2 pl-4 pb-2">Net Profit
                    <small style="font-size: 60%;"><br>500 p/mo </small></h6>
                  
                  </div>
                </div>
               <div class="col-md-2"><a href="{% url 'product_detail' product.id %}" style="margin-left: 5px;" class="btn btn-primary pull-right">View</a></div>
             </div>
               
                 </div>
                </div>
              </div>
            </div>
            
            <!--div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="card icon-box" id="card" style="width: 25rem;">
      <img src="{% static 'img/template9.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
        <span class="best-seller">Best Seller</span>
        <span class="featured">Featured</span>
        
      <h6 class="card-title"></h6>
        <div class="price-big">
                  <span> ₹13,000</span>  ₹11,000
              </div>
        <div class="bid">43 Bids</div><br><br>
      <a href="#" style="margin-left: 5px;" class="btn btn-primary">Details</a>
    </div>
  </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
              <div class="card" id="card" style="width: 25rem;">
    <img src="{% static 'img/template6.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
        <span class="best-seller">Best Seller</span>
        <span class="featured">Featured</span>
        
      <h6 class="card-title">Best Ready made Website for Sale at reasonable 
  price Buy now</h6>
        <div class="price-big">
                  <span> ₹9,000</span>  ₹7,500
              </div>
        <div class="bid">17 Bids</div><br><br>
      <a href="#" style="margin-left: 5px;" class="btn btn-primary">Details</a>
    </div>
  </div>
            </div-->
  
          
          {% endfor %}
        </div>
          

            <div class="row gy-4">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="card icon-box" id="card" style="width: 25rem;">
               <img src="{% static 'img/template5.jpg'%}" class="card-img-top" alt="...">
                 <div class="card-body">
                  <span class="best-seller">Best Seller</span>
                  <span class="featured">Featured</span>
                 <div>
               <h6 class="card-title">Best Ready made Website for Sale at reasonable price Buy now</h6>
                 <div class="price-big">
                  <span> ₹4,300</span>  ₹3,800
               </div>
             <div class="bid">49 Bids</div><br><br>
               <a href="#" style="margin-left: 5px;" class="btn btn-primary">Details</a>
                 </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="card icon-box" id="card" style="width: 25rem;">
      <img src="{% static 'img/template9.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
        <span class="best-seller">Best Seller</span>
        <span class="featured">Featured</span>
        
      <h6 class="card-title">Best Ready made Website for Sale at reasonable 
  price Buy now</h6>
        <div class="price-big">
                  <span> ₹13,000</span>  ₹11,000
              </div>
        <div class="bid">43 Bids</div><br><br>
      <a href="#" style="margin-left: 5px;" class="btn btn-primary">Details</a>
    </div>
  </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
              <div class="card" id="card" style="width: 25rem;">
    <img src="{% static 'img/template6.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
        <span class="best-seller">Best Seller</span>
        <span class="featured">Featured</span>
        
      <h6 class="card-title">Best Ready made Website for Sale at reasonable 
  price Buy now</h6>
        <div class="price-big">
                  <span> ₹9,000</span>  ₹7,500
              </div>
        <div class="bid">17 Bids</div><br><br>
      <a href="#" style="margin-left: 5px;" class="btn btn-primary">Details</a>
    </div>
  </div>
            </div>
  
          </div>
          </div>
      </section><!-- End Portfolio Section -->
  
     <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>What is BBM?</h2>
          </div>
  
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="{% static 'img/community.png' %}" width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg"/>
                </div>
                <h4><a href="">A community of owners, investors, creators and makers</a></h4>
                <p>BBM is a global online marketplace where individuals and business owners buy and sell websites, online businesses and other digital real estate.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box iconbox-orange ">
                <div class="icon">
                  <img src="{% static 'img/platform.png' %}" width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg"/>
                </div>
                <h4><a href="">A peer-to-peer platform</a></h4>
                <p>On BBM, sellers are selling their passion projects, side hustles and online businesses. We make the process super easy by connecting you with these sellers and streamlining the negotiation and transaction.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-pink">
                <div class="icon">
                  <img src="{% static 'img/mind.png' %}" width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg"/>
                </div>
                <h4><a href="">Peace of mind</a></h4>
                <p>We have an integrated offers platform. You can safely use our escrow services, contracts of sale and sales support team.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
    <div class="columns">
        
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4"></p>
                                <p class="subtitle is-6"></p>
                            </div>
                        </div>

                        <div class="content">
                            {% endblock %}                            

                            <hr>

                            <a href="">View</a>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
