{% extends 'core/base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
    <div class="container mt-5">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <h1 class="title">Sign up</h1>

                <form method="post" action=".">
                    {% csrf_token %}

                    {{form | crispy}}

                    <hr>

                    <div class="field">
                        <label>Account type</label>

                        <div class="control">
                            <div class="select">
                                <select name="account_type">
                                    <option value="buyer" selected>I Want to Buy</option>
                                    <option value="seller">I Want to Sell</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}