{% extends 'core/base.html' %}

{% block content %}
<div class=" container mt-5" id="edit-product-app">
    <h1 class="title">Edit product</h1>

        <form v-on:submit="validateForm" method="post" action=".">
            {% csrf_token %}

            <div class="field">
                <label>Title</label>

                <div class="control">
                    <input class="form-control" type="text" name="company_url" value="{% if product.company_url %}{{ product.company_url }}{% endif %}" id="id_company_url" v-model="company_url">
                </div>
            </div>

            <div class="field">
                <label>Short description</label>

                <div class="control">
                    <textarea class="textarea form-control" name="short_description" id="id_short_description" v-model="short_description">{% if product.short_description %}{{ product.short_description }}{% endif %}</textarea>
                </div>
            </div>

            <!--div class="field">
                <label>Long description</label>

                <div class="control">
                    <textarea class="textarea form-control" name="long_description" id="id_long_description">{% if product.long_description %}{{ product.long_description }}{% endif %}</textarea>
                </div>
            </div-->

            <div class="field">
                <label>Staring Date of the Business</label>

                <div class="control">
                    
                    <input class="form-control" title="Date is Disabled" readonly="true" type="text" name="company_date" id="id_company_date" value="{% if product.company_date %}{{ product.company_date }}{% endif %}" v-model="company_date">
                </div>
            </div>

            
            <label>Monetize:</label> 
            <ul class="list-group-horizontal">
                {{ form.monetize }}
                
            </ul>
            <!--form action="." method="POST">
            {{ form.as_p }}
        </form-->

            <div class="field">
                <label>Company address</label>
                

                <div class="control">
                    <input class="form-control" type="text" name="company_address" id="id_company_address" value="{% if product.company_address %}{{ product.company_address }}{% endif %}">
                </div>
            </div>

            <!--div class="field">
                <label>Do you have access to Google Analytics for the property?</label>

                <div class="control">
                    <input class="input" type="text" name="company_zipcode" id="id_company_zipcode" value="{% if product.company_zipcode %}{{ product.company_zipcode }}{% endif %}">
                </div>
            </div-->

            <!--div class="field">
                <label>Company place</label>

                <div class="control">
                    <input class="input" type="text" name="company_place" id="id_company_place" value="{% if product.company_place %}{{ product.company_place }}{% endif %}">
                </div>
            </div>

            <div class="field">
                <label>Company country</label>

                <div class="control">
                    <input class="input" type="text" name="company_country" id="id_company_country" value="{% if product.company_country %}{{ product.company_country }}{% endif %}">
                </div>
            </div>

            <div class="field">
                <label>Company size</label>

                <div class="control">
                    <div class="select">
                        <select name="company_size" v-model="company_size">
                            <option value="">Choose size</option>
                            <option value="size_1-9"{% if product.company_size == 'size_1-9' %} selected{% endif %}>1-9</option>
                            <option value="size_10-49"{% if product.company_size == 'size_10-49' %} selected{% endif %}>10-49</option>
                            <option value="size_50-99"{% if product.company_size == 'size_50-99' %} selected{% endif %}>50-99</option>
                            <option value="size_100"{% if product.company_size == 'size_100' %} selected{% endif %}>100+</option>
                        </select>
                    </div>
                </div>
            </div-->

            <div class="field">
                <label>Status</label>

                <div class="control">
                    <div class="select">
                        <select name="status">
                            <option value="active"{% if product.status == 'active' %} selected{% endif %}>Active</option>
                            <option value="employed"{% if product.status == 'employed' %} selected{% endif %}>Sold</option>
                            <option value="archived"{% if product.status == 'archived' %} selected{% endif %}>Reserved</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="btn btn-success" type="submit">Save changes</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const EditProductApp = {
        data() {
            return {
                company_url: '{{ product.company_url }}',
                
                company_date: '{{ product.company_date }}',
                short_description: '{{ product.short_description }}',
                company_size: '{{ product.company_size }}',
                errors: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                this.errors = []

                if (this.company_url === '') {
                    this.errors.push('The title field is missing!')
                }

                if (this.short_description === '') {
                    this.errors.push('The short description field is missing!')
                }

                if (this.company_date === '') {
                    this.errors.push('The company Date field is missing!')
                }

                if (this.company_size === '') {
                    this.errors.push('The company size is missing!')
                }

                if (this.errors.length) {
                    e.preventDefault()

                    return false
                } else {
                    return true
                }
            }
        }
    }

    Vue.createApp(EditProductApp).mount('#edit-product-app');
</script>
{% endblock %}